html {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  /*background-color: #646464;*/
}

.App {
}

.App-sidebar {
  width: 250px;
  background-color: #394b59;
  position: absolute;
  height: 100%;
}

.App-sidebar-header {
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #344552;
}

.App-sidebar-header h2 {
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
  font-size: 18px;
}

.App-sidebar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.App-sidebar a {
  color: #efefef;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.App-sidebar a.active {
  background-color: rgba(16, 22, 26, 0.3);
}

.App-sidebar a:hover {
  color: #fff;
}

.App-panel {
  padding-left: 250px;
  /*background: #fff;*/
}

.App-content {
  padding: 10px;
}
